In [1]:
import numpy as df

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('hotel_booking.csv')

In [4]:
#for replacing all the null values with zero.(if we exhange country with zero it wont affect the data)
df.fillna(0)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [5]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [6]:
#the number of customer for every deposit type
df['deposit_type'].value_counts()

No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

In [7]:
#the number of customer for every reserved_room_type
df['reserved_room_type'].value_counts()

A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64

In [8]:
##the number of customer for every assigned_room_type
df['assigned_room_type'].value_counts()

A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64

In [9]:
#the number of customer that didn't cancel the booking
len(df[df['is_canceled'] == 1].index)

44224

In [10]:
# the number of customer that repeted the booking 
len(df[df['is_repeated_guest'] == 1].index)

3810

In [11]:
# the number of customer that had a pervios cancel
len(df[df['previous_cancellations'] == 1].index)

6051

In [12]:
 len(df[df['previous_bookings_not_canceled'] == 1].index)

1542

In [13]:
#the number of cansel booking for every year
df.groupby('arrival_date_year').count()['is_canceled']

arrival_date_year
2015    21996
2016    56707
2017    40687
Name: is_canceled, dtype: int64

In [14]:
#the number of customer that repeted the booking
df.groupby('arrival_date_year').count()['is_repeated_guest']

arrival_date_year
2015    21996
2016    56707
2017    40687
Name: is_repeated_guest, dtype: int64

In [15]:
#the number of Transient customer
len(df[df['customer_type'] == 'Transient'].index)

89613

In [16]:
# the higest customer type
df[df['customer_type'] == df['customer_type'].max()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,Transient-Party,82.88,0,2,Check-Out,2015-07-09,Rachel Wallace,Rachel_W79@xfinity.com,870-988-2775,************1133
50,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,Transient-Party,67.58,0,2,Check-Out,2015-07-09,Rachel Ho,Ho_Rachel74@aol.com,338-173-6502,************4642
127,Resort Hotel,0,100,2015,July,27,4,1,1,2,...,Transient-Party,73.80,1,1,Check-Out,2015-07-06,Tiffany Phillips,Tiffany.Phillips@outlook.com,780-067-0965,************5509
129,Resort Hotel,0,100,2015,July,27,4,1,1,2,...,Transient-Party,73.80,0,2,Check-Out,2015-07-06,Troy Wolf,Wolf.Troy22@gmail.com,951-206-5844,************7576
130,Resort Hotel,0,100,2015,July,27,4,1,1,2,...,Transient-Party,73.80,0,1,Check-Out,2015-07-06,Richard Jones,Richard.J@att.com,998-911-5071,************2699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119347,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Miranda Robinson,Miranda.R38@att.com,107-348-4659,************5887
119348,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Taylor Rice,Rice.Taylor42@yandex.com,561-420-5684,************6350
119352,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Chris Wilson,Chris.W18@xfinity.com,563-604-9037,************3006
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Shelby Bauer,Shelby.Bauer@verizon.com,456-861-4416,************6786
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Erin Torres,Torres.Erin@outlook.com,993-072-8908,************6395

In [17]:
#when i want found all the customer type of Transient-Party
df[df['customer_type'] == 'Transient-Party']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,Transient-Party,82.88,0,2,Check-Out,2015-07-09,Rachel Wallace,Rachel_W79@xfinity.com,870-988-2775,************1133
50,Resort Hotel,0,113,2015,July,27,2,2,5,2,...,Transient-Party,67.58,0,2,Check-Out,2015-07-09,Rachel Ho,Ho_Rachel74@aol.com,338-173-6502,************4642
127,Resort Hotel,0,100,2015,July,27,4,1,1,2,...,Transient-Party,73.80,1,1,Check-Out,2015-07-06,Tiffany Phillips,Tiffany.Phillips@outlook.com,780-067-0965,************5509
129,Resort Hotel,0,100,2015,July,27,4,1,1,2,...,Transient-Party,73.80,0,2,Check-Out,2015-07-06,Troy Wolf,Wolf.Troy22@gmail.com,951-206-5844,************7576
130,Resort Hotel,0,100,2015,July,27,4,1,1,2,...,Transient-Party,73.80,0,1,Check-Out,2015-07-06,Richard Jones,Richard.J@att.com,998-911-5071,************2699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119347,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Miranda Robinson,Miranda.R38@att.com,107-348-4659,************5887
119348,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Taylor Rice,Rice.Taylor42@yandex.com,561-420-5684,************6350
119352,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Chris Wilson,Chris.W18@xfinity.com,563-604-9037,************3006
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Shelby Bauer,Shelby.Bauer@verizon.com,456-861-4416,************6786
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,Transient-Party,195.33,0,2,Check-Out,2017-09-03,Erin Torres,Torres.Erin@outlook.com,993-072-8908,************6395

In [18]:
#standard deviation for all lead time
df['lead_time'].std()

106.86309704798579

In [19]:
#the average for all lead time
df['lead_time'].mean()

104.01141636652986

In [20]:
#the number of reserved room type from type A
len(df[df['reserved_room_type'] == 'A'].index)

85994

In [21]:
#the number of direct type from the distribuion_channel
len(df[df['distribution_channel'] == 'Direct'].index)

14645

In [22]:
#the number of the customer that take BB mael
len(df[df['meal'] == 'BB'].index)

92310

In [23]:
#the number of customer that comes from GRB
len(df[df['country'] == 'GBR'].index)

12129

In [24]:
# the numner of the customer type as a group type and their total of special requests tless than 2
df[(df['customer_type']=='Group') & (df['total_of_special_requests']<2)].count()

hotel                             491
is_canceled                       491
lead_time                         491
arrival_date_year                 491
arrival_date_month                491
arrival_date_week_number          491
arrival_date_day_of_month         491
stays_in_weekend_nights           491
stays_in_week_nights              491
adults                            491
children                          491
babies                            491
meal                              491
country                           485
market_segment                    491
distribution_channel              491
is_repeated_guest                 491
previous_cancellations            491
previous_bookings_not_canceled    491
reserved_room_type                491
assigned_room_type                491
booking_changes                   491
deposit_type                      491
agent                             399
company                            48
days_in_waiting_list              491
customer_type                     491
adr                               491
required_car_parking_spaces       491
total_of_special_requests         491
reservation_status                491
reservation_status_date           491
name                              491
email                             491
phone-number                      491
credit_card                       491
dtype: int64

In [25]:
#the number of country as PRT when booking changes>2
df[(df['country']=='PRT') & (df['booking_changes']>2)].count()

hotel                             430
is_canceled                       430
lead_time                         430
arrival_date_year                 430
arrival_date_month                430
arrival_date_week_number          430
arrival_date_day_of_month         430
stays_in_weekend_nights           430
stays_in_week_nights              430
adults                            430
children                          430
babies                            430
meal                              430
country                           430
market_segment                    430
distribution_channel              430
is_repeated_guest                 430
previous_cancellations            430
previous_bookings_not_canceled    430
reserved_room_type                430
assigned_room_type                430
booking_changes                   430
deposit_type                      430
agent                             271
company                            72
days_in_waiting_list              430
customer_type                     430
adr                               430
required_car_parking_spaces       430
total_of_special_requests         430
reservation_status                430
reservation_status_date           430
name                              430
email                             430
phone-number                      430
credit_card                       430
dtype: int64

In [26]:
# the mean for customers types
df.groupby('customer_type').mean()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
customer_type,,,,,,,,,,,,,,,,,,,,
Contract,0.309617,142.969823,2015.510304,33.702159,15.236261,1.469578,3.851079,1.919529,0.065505,0.007851,0.008096,0.225466,0.004171,0.119725,57.529412,27.600000,0.039500,87.549637,0.033121,0.728901
Group,0.102253,55.057192,2016.045061,29.433276,15.603120,0.824957,2.057192,2.346620,0.065858,0.008666,0.279029,0.036395,0.594454,0.294627,109.058577,235.897959,0.369151,83.488579,0.088388,0.644714
Transient,0.407463,93.295515,2016.249517,26.541350,15.795164,0.938815,2.508330,1.886791,0.125975,0.009162,0.034292,0.074208,0.163458,0.187863,86.818050,159.383911,1.316874,107.013621,0.071865,0.631582
Transient-Party,0.254299,137.037056,2015.932375,28.277623,15.904872,0.802022,2.262697,1.726516,0.032205,0.003622,0.021613,0.111885,0.054132,0.354522,91.449406,236.583173,6.318222,86.084253,0.033355,0.329327

In [27]:
 #select the data of Online TA(type of market segment)
df_market_segment = df[df.market_segment == 'Online TA']
df_market_segment

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,Transient,82.00,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,Transient,123.00,0,0,Canceled,2015-06-23,Priscilla Collins PhD,PhD.Priscilla74@att.com,833-887-7898,************4642
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,Transient,145.00,0,0,Check-Out,2015-07-05,Laurie Smith,Smith.Laurie@att.com,804-383-4080,************5450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,Transient,209.00,0,0,Check-Out,2017-09-05,Cesar Moreno,Cesar_M50@comcast.net,666-379-7260,************7835
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [28]:
#the number of customer that take sc meal
df[df['meal'] == 'SC'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10650 entries, 1655 to 119380
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           10650 non-null  object
 1   is_canceled                     10650 non-null  int64
 2   lead_time                       10650 non-null  int64
 3   arrival_date_year               10650 non-null  int64
 4   arrival_date_month              10650 non-null  object
 5   arrival_date_week_number        10650 non-null  int64
 6   arrival_date_day_of_month       10650 non-null  int64
 7   stays_in_weekend_nights         10650 non-null  int64
 8   stays_in_week_nights            10650 non-null  int64
 9   adults                          10650 non-null  int64
 10  children                        10650 non-null  float64
 11  babies                          10650 non-null  int64
 12  meal                            10650 non-null  object
 13  country                         10638 non-null  object
 14  market_segment                  10650 non-null  object
 15  distribution_channel            10650 non-null  object
 16  is_repeated_guest               10650 non-null  int64
 17  previous_cancellations          10650 non-null  int64
 18  previous_bookings_not_canceled  10650 non-null  int64
 19  reserved_room_type              10650 non-null  object
 20  assigned_room_type              10650 non-null  object
 21  booking_changes                 10650 non-null  int64
 22  deposit_type                    10650 non-null  object
 23  agent                           10334 non-null  float64
 24  company                         59 non-null     float64
 25  days_in_waiting_list            10650 non-null  int64
 26  customer_type                   10650 non-null  object
 27  adr                             10650 non-null  float64
 28  required_car_parking_spaces     10650 non-null  int64
 29  total_of_special_requests       10650 non-null  int64
 30  reservation_status              10650 non-null  object
 31  reservation_status_date         10650 non-null  object
 32  name                            10650 non-null  object
 33  email                           10650 non-null  object
 34  phone-number                    10650 non-null  object
 35  credit_card                     10650 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 3.0+ MB

In [29]:
 #the number of customer that take sc meal
df[df['name'] == 'Cesar Moreno']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,Transient,209.0,0,0,Check-Out,2017-09-05,Cesar Moreno,Cesar_M50@comcast.net,666-379-7260,************7835

In [30]:
#the maxmum value for total of special requestes
df['total_of_special_requests'].max()

5

In [31]:
#getting the name of person throw his phone number
df[df["phone-number"] == 666-379-7260]["name"]

Series([], Name: name, dtype: object)

In [32]:
df[df['company'] == 'Ariana Michae']['phone-number']

Series([], Name: phone-number, dtype: object)